/* Responsive Queries */
@media (max-width: 768px) {
    .naver {
        position: fixed;
        width: 96%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1vw;
        top: 0;
        z-index: 21;
        mix-blend-mode: difference;
    }

    .naver > p {
        color: whitesmoke;
        letter-spacing: 0.3vw;
        font-size: 4.5vw;
        z-index: 11;
        pointer-events: none;
    }

    .lowbar {
        position: fixed;
        width: 97.9%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        bottom: 0;
        z-index: 21;
        mix-blend-mode: difference;
    }
    
    .lowbar > p {
        color: whitesmoke;
        letter-spacing: 0.08vw;
        font-size: 4.5vw;
        z-index: 11;
        pointer-events: none;
        
    }
}